<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="form-container">
    <h2>Register</h2>
    <form th:action="@{/register}" th:object="${userForm}" method="post">
        <div th:if="${#fields.hasAnyErrors()}" class="error-message">
            <p th:each="e : ${#fields.allErrors()}" th:text="${e}"></p>
        </div>

        <label class="form-group">Login:
            <input th:field="*{login}" placeholder="Enter login">
        </label>

        <label class="form-group">Email:
            <input th:field="*{email}" placeholder="Enter email">
        </label>

        <label class="form-group">First Name:
            <input th:field="*{firstName}" placeholder="Enter first name">
        </label>

        <label class="form-group">Last Name:
            <input th:field="*{lastName}" placeholder="Enter last name">
        </label>

        <label class="form-group">Middle Name:
            <input th:field="*{middleName}" placeholder="Enter middle name">
        </label>

        <label class="form-group">Password:
            <input type="password" th:field="*{password}" placeholder="Create password">
        </label>

        <label class="form-group">Confirm Password:
            <input type="password" th:field="*{confirmPassword}" placeholder="Confirm password">
        </label>


        <button type="submit">Register</button>
    </form>
</div>
<script th:src="@{/js/registration.js}"></script>
</body>
</html>
