<Menu>
    <title>Tasker</title>
    <url/>
    <icon/>
    <subMenu>
        <subMenu>
            <title>Home</title>
            <url>/home</url>
            <icon>fa fa-home</icon>
            <roles>
                <roles>ADMIN</roles>
                <roles>ASSIGNER</roles>
                <roles>USER</roles>
                <roles>GUEST</roles>
            </roles>
        </subMenu>
        <Menu>
            <title>Entities</title>
            <subMenu>
                <Menu>
                    <title>Users</title>
                    <url>/users</url>
                    <roles>
                        <roles>ADMIN</roles>
                    </roles>
                </Menu>
                <Menu>
                    <title>Roles</title>
                    <url>/roles</url>
                    <roles>
                        <roles>ADMIN</roles>
                    </roles>
                </Menu>
                <Menu>
                    <title>Assignees</title>
                    <url>/users</url>
                    <roles>
                        <roles>ASSIGNER</roles>
                    </roles>
                </Menu>
                <Menu>
                    <title>Tasks</title>
                    <url>/tasks</url>
                    <roles>
                        <roles>USER</roles>
                        <roles>ASSIGNER</roles>
                    </roles>
                </Menu>
            </subMenu>
        </Menu>
        <subMenu>
            <title>Logout</title>
            <url>/logout</url>
            <icon>fa fa-sign-out</icon>
            <roles>
                <roles>ADMIN</roles>
                <roles>ASSIGNER</roles>
                <roles>USER</roles>
                <roles>GUEST</roles>
            </roles>
        </subMenu>
    </subMenu>
    <roles>
        <roles>ADMIN</roles>
        <roles>ASSIGNER</roles>
        <roles>USER</roles>
        <roles>GUEST</roles>
    </roles>
</Menu>
